.header-container {
  width: 100%;
  background-color: #fdc827;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  font-family: "Righteous", cursive;
  letter-spacing: 4px;
  margin-left: 40px;
  cursor: pointer;
}

.logout {
  font-weight: bold;
  font-size: 18px;
  margin-right: 40px;
  cursor: pointer;
}